.countButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 580px;
}


.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
     color: transparent;
 }

.form__field:placeholder-shown {
     font-size: 1.3rem;
     cursor: text;
     top: 20px;
 }

.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
}

ul {
    width: 100px;
}

.todos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

li {
    width: 200px;
    margin-bottom: 10px;
}

.liButton {
    background-color: crimson;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 10px;
}
/*.form__field:focus {*/
/*~ .form__label {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    display: block;*/
/*    transition: 0.2s;*/
/*    font-size: 1rem;*/
/*    color: $primary;*/
/*    font-weight:700;*/
/*}*/
/*padding-bottom: 6px;*/
/*font-weight: 700;*/
/*border-width: 3px;*/
/*border-image: linear-gradient(to right, $primary,$secondary);*/
/*border-image-slice: 1;*/
/*}*/
/*!* reset input *!*/
/*.form__field{*/
/*&:required,&:invalid { box-shadow:none; }*/
/*}*/